.makers {
  align-items: center;
  display: flex;
  gap: var(--mantine-spacing-sm);
  width: 100%;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.makerImage {
  height: 64px;
  width: auto;
}

.makerImageEpi {
  height: 48px;
  width: auto;
}